<div class="Products-Carousel-Cell " data-id_product="{{ sl_product.id }}">
  <div class="ProductCellTop">
    <div class="ProductCellTopImage">
      <img src="{{ sl_product.featured_media | image_url: width: 533 }}">
    </div>
  </div>
  <div class="ProductCellBottom">
    <div class="ProductCellBottomTitle">
      <a class="full-unstyled-link" href="{{ sl_product.url }}">
      {{ sl_product.title }}
      </a>
    </div>
    <div class="ProductCellBottomPrice">
      {{ sl_product.price | money }}
      
    </div>
  </div>
  <a class="full-unstyled-link ProductCellLink" href="{{ sl_product.url }}"></a>
</div>

<script> console.log({{ sl_product | json }}) </script>