{% assign url_type = '?' %}
{% assign wk_store_ids = "2449408,2451479,2451486,2451680" | split: ',' %}
{% assign wk_store_names = "TestShop1,test 2.0,test 3.0,test" | split: ',' %}
{% assign wk_store_handles = "testshop1,test-20,test-30,test" | split: ',' %}
{% assign wk_store_logos = "https://sp-seller.webkul.com/img/seller_shop_logo/shop-logo.png,https://sp-seller.webkul.com/img/seller_shop_logo/shop-logo.png,https://sp-seller.webkul.com/img/seller_shop_logo/shop-logo.png,https://sp-seller.webkul.com/img/seller_shop_logo/shop-logo.png" | split: ',' %}