{% assign sl_collection = section.settings.collection %}
{% assign sl_product_list = section.settings.product_list %}
<div class="SliderProducts slider-mobile-gutter page-width page-width-desktop">
    {% if section.settings.title %}
    <div class="SliderProductsTitle"> 
        {{ section.settings.title }}
    </div>
    {% endif %}
    
    {% if sl_collection or sl_product_list %}
    <div class="SliderProductsContent">
      <div class="Products-Carousel" id="Products-Carousel-{{ section.id }}">
        {% if sl_collection %}
            {% assign sl_products = sl_collection.products %}
            {% for sl_product in sl_products %}
                {% render 'carousel-product' , sl_product: sl_product %}
            {% endfor %}
        {% endif %}
      
        {% if sl_product_list %}
            {% assign sl_products = sl_product_list %}
            {% for sl_product in sl_products %}
              {% render 'carousel-product' , sl_product: sl_product %}
            {% endfor %}
        {% endif %}
      </div>
    </div>
    {% endif %}
</div>

<style>

  .SliderProductsTitle{
    font-size: 24px;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .ProductCellTopImage{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ProductCellTopImage img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .Products-Carousel-Cell{
    position: relative;
    width: calc(100% / {{ section.settings.count_slides }})
  }

  @media(max-width: 500px){
    .Products-Carousel-Cell{
    position: relative;
    width: 100%
    }
  }
  
  .ProductCellLink{
    position: absolute;
    height: 100%;
    width: 100%;
    display: block !important;
    top: 0;
    left: 0;
  }

  .ProductCellBottomTitle{
    font-size: 14px;
    color: #000;
  }
  
  .ProductCellBottomPrice{
    color: #000;
    font-size: 20px;
  }
  
  @media(max-width: 500px){
    .ProductCellBottomTitle{
      text-align: center;
    }
    .ProductCellBottomPrice{
      text-align: center;
    }
  }

</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $(function(){
      if($('#Products-Carousel-{{ section.id }}').width() > 500 ){
      $('#Products-Carousel-{{ section.id }}').flickity({
        cellAlign: 'left',
        contain: true,
        pageDots: false,
        autoPlay: 1500,
        pauseAutoPlayOnHover: true,
        wrapAround: true,
        freeScroll: true
      })
      }

      if($('#Products-Carousel-{{ section.id }}').width() <= 500 ){
        $('#Products-Carousel-{{ section.id }}').flickity({
        cellAlign: 'left',
        
        pageDots: false,
        autoPlay: 1500,
        pauseAutoPlayOnHover: true
      })
      }
    })
  }, false);
</script>



{% schema %}
  {
    "name": "Slider Products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Products",
        "limit": 12
      },
      {
      "type": "range",
      "id": "count_slides",
      "min": 1,
      "max": 8,
      "step": 1,
      "label": "Count Slides",
      "default": 4
      }
    ],
    "presets": [
      {
        "name": "Slider Products"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}