<div class="col-container">
  <h2>New Collection</h2>
  {% for product in collections['Automated-Collection'].products %}
    {% render 'test', test: product %}
  {% endfor %}
</div> 
{% schema %} 
  {
    "name": "Test Collection Denis",
    "settings": [
    ],
    "presets": [
      {
        "name": "Test Collection Denis"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}